<mat-toolbar color="primary">
	<h1>Bookmark Manager</h1>
	<span class="space"></span>
    <popup [config]="addPopupConfig"></popup>
</mat-toolbar>

<mat-drawer-container class="content">
    <mat-drawer mode="side" opened>
        <h2> Bookmark </h2>
        <div *ngFor="let bookmark of bookmarks" (click)="loadBookmark(bookmark)" class="item" [ngClass]="{'active':isActive(bookmark)}">
           	<mat-icon mat-list-icon class="folder-icon">bookmark</mat-icon>
       		<h4>{{bookmark}}</h4>
        </div>
    </mat-drawer>
    <mat-drawer-content>
    	<bookmark-table [config]="bookmarkTableConfig"></bookmark-table>
    </mat-drawer-content>
</mat-drawer-container>
