<h1 mat-dialog-title>Bookmark Details</h1>

<form #viewModel="ngForm">
	<div mat-dialog-content>
	    <mat-form-field >
	        <mat-label>Name</mat-label>
	        <input  matInput [formControl]="name" [readonly]="true">
	    </mat-form-field>
	    <mat-form-field >
	        <mat-label>URL</mat-label>
	        <input matInput  [formControl]="url" [readonly]="true">
	    </mat-form-field>
	    <mat-form-field >
	      <mat-label>Group</mat-label>
	      	 <input matInput  [formControl]="group" [readonly]="true">
	    </mat-form-field>
	</div>

	<div mat-dialog-actions align="center">
	  <button mat-button mat-dialog-close #viewCloseButton>Close</button>
	</div>
</form>

