@import '~@angular/material/theming';

@include mat-core();

$bookmark-primary: mat-palette($mat-cyan, 900);
$bookmark-accent:  mat-palette($mat-pink,200);
$bookmark-warn:    mat-palette($mat-red, 500);

$bookmark-theme: mat-light-theme((
  color: (
    primary: $bookmark-primary,
    accent: $bookmark-accent,
    warn: $bookmark-warn
  )
));

@include angular-material-theme($bookmark-theme);