<h1 mat-dialog-title> Update Bookmark </h1>

<form #updateModel="ngForm" (ngSubmit)="updateBookmark(updateModel)">
	<div mat-dialog-content>
	    <mat-form-field appearance="legacy">
	        <mat-label>Name</mat-label>
	        <input matInput placeholder="Name" [formControl]="name">
	        <mat-error *ngIf="name.hasError('required')">
                Name is <strong>required</strong>
   			</mat-error>
	    </mat-form-field>
	    <mat-form-field appearance="legacy">
	        <mat-label>URL</mat-label>
	        <input matInput placeholder="URL" [formControl]="url">
	        <mat-error *ngIf="url.hasError('required')">
                URL is <strong>required</strong>
   			</mat-error>
	    </mat-form-field>
	    <mat-form-field appearance="legacy">
	      <mat-label>Group</mat-label>
	      	 <input matInput placeholder="Group" [formControl]="group">
	      <mat-error *ngIf="group.hasError('required')">
                Group is <strong>required</strong>
   			</mat-error>
   			<mat-error *ngIf="group.hasError('maxlength')">
               Maximum length of 10 characters.
   			</mat-error>
   		</mat-form-field>
	</div>

	<div mat-dialog-actions align="center">
	  <button mat-raised-button type="submit" cdkFocusInitial color="primary">Save</button>
	  <button mat-button mat-dialog-close #updateCloseButton>Cancel</button>
	</div>
</form>

